h1 {
  font-family: Norican, cursive;
}

span {
  font-family: Peralta, cursive;
}

h2 {
  font-family: "Oleo Script Swash Caps", cursive;
}

h3 {
  font-family: "Emilys Candy", cursive;
}

.rotate {
  transform: rotate(-2deg);
}

.think {
  line-height: .5em;
}

.worl {
  line-height: .9em;
}

.him {
  line-height: 1em;
}
