h1 {
  font-family: Norican, cursive;
}

span {
  font-family: Peralta, cursive;
}

h2 {
  font-family: "Oleo Script Swash Caps", cursive;
}

h3 {
  font-family: "Emilys Candy", cursive;
}

.rotate {

  transform: rotate(-2deg);
  animation-name: rotate;
  animation-duration: 3s;
}

@keyframes rotate {

  from { transform: rotate(-2deg); }

  to { transform: rotate(358deg); }

}
